* {
    box-sizing: border-box;
    padding: 10px;
}

h1 {
    text-align: center;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    /* align-items: center; */
    width: 100%;
}

li {
    border-radius: 5px;
    padding: 15px 20px;
    max-width: 500px;
    margin: 20px auto;
    max-height: 150px;
    font-size: 20px;
    transition: 0.3s;
}

li:hover {
    transform: scale(1.03);
}

.btn {
    display: flex;
    float: right;
    background: steelblue;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.btn:active {
    transform: scale(0.98);
}

.info {
    font-size: 14px;
}
