@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body {
    font-family: "Roboto Slab";
}

.cardBox {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    padding: 10px;
}

.heading {
    text-align: center;
    margin: 35px;
}

.lastUpdated {
    text-align: center;
    margin: 10px;
}

.card {
    border: 3px solid green;
    transition: 0.3s;
}

.card-no-availability {
    border: 1px solid red;
}

.availability {
    padding-bottom: 15px;
    color: green;
}

.no-availability {
    color: red;
}

.card-header {
    padding-bottom: 0px;
}

.footer {
    text-align: center;
}
