@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-family: "Roboto Slab";
    text-align: center
}

body {
    margin: 0;
}

.show-small, .show-small-inline {
  display: none !important;
}

@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }

  .show-small-inline {
    display: inline;
  }

  .show-small-block {
    display: block;
  }
}

.header-text {
  font-family: "Merriweather", Georgia !important;
  letter-spacing: 1px !important;
  font-weight: 700 !important;
}
